<div class="row">    
                <section class="col col-lg-12">
                    <h1 class="txt-color-red login-header-big">Riesgos T&eacute;cnologicos</h1>                   
                </section>
            </div>
           