@model SmartAdmin.Web.Models.Sistema.ProblemaRiesgo

@{
    ViewData["Title"] = "Create";
}

@*<h2>Create</h2>

    <h4>ProblemaRiesgo</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdCategoriaRiesgo" class="control-label"></label>
                    <select asp-for="IdCategoriaRiesgo" class ="form-control" asp-items="ViewBag.IdCategoriaRiesgo"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Problema Riesgo</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->

                        <div class="widget-body no-padding">

                            <form asp-action="Create" id="checkout-form" class="smart-form">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-lg-6">
                                            <label>@Html.DisplayNameFor(model => model.IdCategoriaRiesgoNavigation.Descripcion)</label>
                                            <select asp-for="IdCategoriaRiesgo" asp- class="form-control" asp-items="ViewBag.IdCategoriaRiesgo">
                                                <option value="0" selected="selected" disabled="">Seleccione</option>
                                            </select>
                                        </section>
                                        <section class="col col-lg-6">
                                            <label>@Html.DisplayNameFor(model => model.Descripcion)</label>
                                            <label class="textarea">
                                                <i class="icon-append fa fa-comment"></i>
                                                <textarea rows="3" asp-for="Descripcion"></textarea>
                                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN CONTENT -->
@section Scripts {
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            Init_Select2();
        });
    </script>
}